<div class="container-fluid mb-2 mt-2">
  <div class="row">
    <div class="col-12">
      <button
        class="btn btn-outline-secondary btn-block dropdown-toggle text-left"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span *ngIf="selectedMachineOnderdeel === null"
          >Selecteer Machine Onderdeel</span
        >
        <span *ngIf="selectedMachineOnderdeel != null">{{
          selectedMachineOnderdeel.naam
        }}</span>
      </button>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="container-fluid">
          <div class="row p-1" *ngFor="let obj of lstMachineOnderdelen">
            <div class="col-12 my-auto">
              <button
                type="button btn-block"
                class="btn btn-secondary btn-block text-left"
                (click)="Select(obj)"
              >
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-2 text-left">
                      {{ obj.naam }}
                    </div>

                    <div class="col-auto text-left">
                      {{ obj.omschrijving }}
                    </div>
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
