<app-MachineOnderdeelSelector
  (selectMachineOnderdeel)="selectMachineOnderdeel($event)"
>
  ></app-MachineOnderdeelSelector
>

<div class="container-fluid" *ngIf="selectedMachineOnderdeel != null">
  <div class="row">
    <div class="col-md-12">
      <button (click)="New()" type="button" class="btn btn-success">
        Nieuw
      </button>

      <div class="container-fluid" *ngIf="formVisible">
        <form [formGroup]="form" (ngSubmit)="Formsubmit()">
          <fieldset>
            <legend>Eigenschap</legend>
            <div class="form-group row"></div>
            <!--ID-->
            <div class="form-group">
              <input
                type="number"
                formControlName="id"
                class="form-control"
                hidden="true"
              />
            </div>

            <!--ID-->
            <div class="form-group">
              <input
                type="number"
                formControlName="sort"
                class="form-control"
                hidden="true"
              />
            </div>

            <!--Naam veld-->
            <div class="form-group">
              <label for="lblNaam">App Naam: </label>
              <input
                [ngClass]="{
                  'is-invalid': form.get('naam').errors
                }"
                type="text"
                formControlName="naam"
                class="form-control"
                placeholder="App Naam"
              />
              <div class="invalid-feedback">Naam verplicht</div>
            </div>

            <!--Beschrijkving veld-->
            <div class="form-group">
              <label for="lblBeschrijving">Omschrijving: </label>
              <textarea
                [ngClass]="{
                  'is-invalid': form.get('omschrijving').errors
                }"
                class="form-control"
                formControlName="omschrijving"
              ></textarea>
              <div class="invalid-feedback">Omschrijving verplicht</div>
            </div>

            <!--Beschrijkving veld-->
            <div class="form-group">
              <label for="lblangularComponent">Data Type: </label>

              <select
                formControlName="dataType"
                [ngClass]="{
                  'is-invalid': form.get('dataType').errors
                }"
                type="text"
                formControlName="dataType"
                class="form-control"
                placeholder="Data Type"
              >
                <option>
                  Integer
                </option>
                <option>
                  String
                </option>
                <option>
                  Decimal
                </option>
                <option>
                  Boolean
                </option>
              </select>

              <div class="invalid-feedback">Omschrijving verplicht</div>
            </div>

            <!--Global Eigenschap-->
            <div class="form-group">
              <label for="lblGlobalEigenschap"
                >Naam Globale Artikel Eigenschap:
              </label>
              <textarea
                [ngClass]="{
                  'is-invalid': form.get('globalEigenschap').errors
                }"
                class="form-control"
                formControlName="globalEigenschap"
              ></textarea>
              <div class="invalid-feedback">Omschrijving verplicht</div>
            </div>

            <!--Submit Knop-->
            <button type="submit" class="btn btn-primary btn-block">
              Save
            </button>
          </fieldset>
        </form>
      </div>
    </div>
    <hr />
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="container-fluid">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="p-1" style="width: 5%;" scope="col">Sort</th>
              <th class="p-1" style="width: 20%;" scope="col">Naam</th>
              <th class="p-1" style="width: 35%;" scope="col">Omschrijving</th>
              <th class="p-1" style="width: 20%;" scope="col">Data Type</th>
              <th class="p-1" style="width: 20%;" scope="col">
                Waarde Van Parent
              </th>
              <th class="p-1" style="width: 5%;"></th>
              <th class="p-1" style="width: 5%;"></th>
              <th class="p-1" style="width: 5%;"></th>
              <th class="p-1" style="width: 5%;"></th>
              <th class="p-1" style="width: 5%;"></th>
              <th class="p-1" style="width: 5%;"></th>
            </tr>
          </thead>

          <tbody *ngFor="let obj of lstEigenschappen">
            <tr>
              <td class="p-1 align-middle">{{ obj.sort }}</td>
              <td class="p-1 align-middle">{{ obj.naam }}</td>
              <td class="p-1 align-middle">{{ obj.omschrijving }}</td>
              <td class="p-1 align-middle">{{ obj.dataType }}</td>
              <td class="p-1 align-middle">{{ obj.globalEigenschap }}</td>
              <td class="p-1 align-middle">
                <button
                  (click)="Create(obj)"
                  type="button"
                  class="btn btn-success"
                >
                  <i class="material-icons small">library_add</i>
                </button>
              </td>
              <td class="p-1 align-middle">
                <button
                  (click)="MoveChildUp(obj)"
                  type="button"
                  class="btn btn-info"
                >
                  <i class="material-icons small">expand_less</i>
                </button>
              </td>
              <td class="p-1 align-middle">
                <button
                  (click)="MoveChildDown(obj)"
                  type="button"
                  class="btn btn-info"
                >
                  <i class="material-icons small">expand_more</i>
                </button>
              </td>
              <td class="p-1 align-middle">
                <button
                  (click)="LoadUpdate(obj)"
                  type="button"
                  class="btn btn-warning"
                >
                  <i class="material-icons small">edit</i>
                </button>
              </td>
              <td class="p-1 align-middle">
                <button
                  (click)="Delete(obj)"
                  type="button"
                  class="btn btn-danger"
                >
                  <i class="material-icons small">clear</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
