.objectListScrollBox {
  height: 80vh;
  overflow: auto;
}

.material-icons {
  font-size: 60px;
}

.card {
  cursor: pointer;
}

.btncol {
  width: 100%;
}

.fatBorder {
  border-width: 2px;
}

img {
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block; /* remove extra space below image */
}

.small {
  font-size: small;
}

.PootIcon {
  transform: rotate(180deg);
}
.smallThumb {
  font-size: 25px;
}
